header{
    background: #333;
    height: auto;
    padding: 10px 0;
}
.logo{
    width: 100%;
}
.alinea-row{
    align-items: center;
}
.nav-link, .nav-link:hover{
    color:white;
}
.search-vh-mark{
    display: flex;
    align-items: center;
}
.cantidad p{
    margin-left: 20px;
    margin-bottom: 0;
}
.btn-search-content{
    display: flex;
    justify-content: space-between;
}